* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbfbff;
  color: #4c5c68;
  font-family: "Gill Sans", sans-serif;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

#container header {
  display: flex;
  align-items: center;
  height: 10vh;
}

#container main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

#container main .calculator-container {
  width: 17rem;
  height: 35rem;
  background-color: #212529;
  border-radius: 2rem;
  padding: 6%;
}

#container main .calculator-container .screen-container {
  height: 40%;
  border-radius: 1rem;
  margin-bottom: 4%;
}

#container main .calculator-container .screen-container .previous-input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30%;
  color: #bec8cc;
  font-size: 0.95rem;
}

#container main .calculator-container .screen-container .current-input {
  display: flex;
  justify-content: flex-end;
  word-wrap: break-word;
  word-break: break-all;
  color: #fff;
  font-size: 2rem;
}

#container main .calculator-container .buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
  height: 56%;
}

#container main .calculator-container .buttons-container .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  background-color: #343a40;
  color: #fff;
  border-radius: 1.3rem;
  font-weight: bolder;
}

#container main .calculator-container .buttons-container .operation-button {
  background-color: #ff9500;
}

#container main .calculator-container .buttons-container #equals-button {
  background-color: #2ec973;
}

#container main .calculator-container .buttons-container .button:hover {
  transform: scale(1.05);
  background-color: #9b9b9b;
  cursor: pointer;
}
#container main .calculator-container .buttons-container .button:nth-child(1),
#container main .calculator-container .buttons-container .button:nth-child(16) {
  width: 48%;
}

#container footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

#container footer a {
  text-decoration: none;
  color: #4c5c68;
  margin-left: 0.3rem;
}

